body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f7f7f7;
}

#container {
  margin: 0 auto;
  width: 1346px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background: white;
}

#errorMessage {
  position: fixed;
  width: 1342px;
  height: 60px;
  line-height: 60px;
  margin: 2px 2px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: solid 1px red;
  box-sizing: border-box;
  background: rgba(255, 170, 0, 0.9);
  border-radius: 5px;
  text-align: center;
  z-index: 100;
  opacity: 0;
}

#golfInfo {
  padding: 15px;
}

#topImage {
  letter-spacing: normal;
  width: 1345px;
  height: 127px;
  background: rgba(214, 219, 201, 0.95);
  background: -moz-linear-gradient(left, rgba(214, 219, 201, 0.95) 0%, rgba(212, 219, 195, 0.95) 32%, rgba(157, 177, 142, 0.95) 77%, rgba(155, 175, 140, 0.951) 79%, rgba(98, 122, 96, 0.955) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(214, 219, 201, 0.95) 0%, rgba(212, 219, 195, 0.95) 32%, rgba(157, 177, 142, 0.95) 77%, rgba(155, 175, 140, 0.951) 79%, rgba(98, 122, 96, 0.955) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(214, 219, 201, 0.95) 0%, rgba(212, 219, 195, 0.95) 32%, rgba(157, 177, 142, 0.95) 77%, rgba(155, 175, 140, 0.951) 79%, rgba(98, 122, 96, 0.955) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  font-size: 16px;
}

#topImage span {
  text-align: center;
}

#mainContent {
  display: inline-block;
  box-sizing: border-box;
  border-left: solid 1px;
  font-size: 14px;
  letter-spacing: -0.4em;
}

#top-info {
  position: fixed;
  border-bottom: solid 2px #555;
  box-sizing: border-box;
}

#holeinfo {
  float: left;
  width: 1087px;
  background: white;
}

#holeinfo div {
  box-sizing: border-box;
}

.follow {
  top: 0;
  position: fixed;
}

.hole, .yards, .par {
  display: inline-block;
  width: 52px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
}

.hole span, .yards span, .par span {
  display: block;
  line-height: 30px;
}

.par {
  border-bottom: 0px;
}

#hole, #yards, #par {
  letter-spacing: -0.4em;
  width: 1087px;
}

#hole > span, #yards > span, #par > span {
  float: left;
  box-sizing: border-box;
  letter-spacing: normal;
  text-align: right;
  display: block;
  width: 151px;
  padding-right: 5px;
  border-right: solid 2px #555;
  border-bottom: solid 1px;
  line-height: 30px;
}

#hole > div, #yards > div, #par > div {
  float: left;
}

#hole :nth-child(19), #yards :nth-child(19), #par :nth-child(19) {
  border-right: 0;
}

#par > span {
  border-bottom: 0px;
}

#total, #score, #scoretotal, #dns, #edit_row {
  width: 50px;
  height: 92px;
  text-align: center;
  background: white;
  float: left;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  vertical-align: top;
  border-right: solid 1px #000;
}

#total span, #score span, #scoretotal span, #dns span, #edit_row span {
  display: inline-block;
  text-align: center;
  line-height: 92px;
  font-weight: bold;
  /* border-left: solid 2px #555; */
}

#total {
  border-left: solid 2px #555;
  width: 50px;
}

#dns {
  width: 50px;
  color: red;
}

.playerscorefield {
  letter-spacing: -0.4em;
}

.playerscorefield div {
  display: inline-block;
  box-sizing: border-box;
}

.div_parent div:first-child .playerscorefield:nth-child(1) {
  margin-top: 220px;
  }

.playerscorefield .score:nth-child(19) {
  border: 0;
}

.day1, .day2 {
  border-bottom: solid 1px;
  text-align: center;
  float: left;
}

.day1 span, .day2 span {
  float: left;
  line-height: 40px;
  box-sizing: border-box;
  display: inline-block;
  width: 56px;
  letter-spacing: normal;
  vertical-align: top;
}

.day1 > div, .day2 > div {
  float: left;
}

div.day1 > span {
  border-right: solid 2px #555;
}

div.day2 > span {
  border-right: solid 2px #555;
}

.day1 {
  border-bottom: solid 1px #ccc;
}

.player {
  width: 95px;
  letter-spacing: normal;
  float: left;
  border-bottom: solid 1px;
  border-right: solid 1px;
  text-align: center;
}

.player > span {
  display: table-cell;
  vertical-align: middle;
  width: 95px;
  height: 81px;
  word-break: break-all;
}

.player .partyno, .player .partyno, .player .seq, .player .starthole {
  display: none;
}

.scoretotal {
  width: 51px;
  letter-spacing: normal;
  border-bottom: solid 1px;
  border-right: solid 1px;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

  
.dns {
  width: 51px;
  height: 82px;
  line-height: 82px;
  letter-spacing: normal;
  border-bottom: solid 1px;
  border-right: solid 1px;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.score {
  letter-spacing: -0.4em;
  width: 52px;
  height: 40px;
  border-right: solid 1px;
  padding-top: 1.6px;
  box-sizing: border-box;
}

.score.error {
  background: red;
}

.shadow {
  background: rgba(255, 170, 0, 0.3);
}

.scoretext {
  box-sizing: border-box;
  display: inline-block;
  border-right: solid 1px;
  text-align: center;
  height: 38px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 21px;
  border-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.playertotal > span {
  border-left: solid 2px #555;
}

.playertotal, .playerscore {
  vertical-align: top;
  display: inline-block;
  width: 52px;
  height: 40px;
  border-right: solid 1px;
}
  .playertotal{width: 53px;}
  .playerscore{width: 51px;}
.playertotal > span, .playerscore > span {
  width: 52px;
  letter-spacing: normal;
  font-size: 21px;
}

.clear {
  clear: both;
}
  
  #edit_row{
    width: 52px;
  }
  .edit_row{

    width: 54px;
    height: 82px;
    line-height: 82px;
    letter-spacing: normal;
    border-bottom: solid 1px;
    border-right: solid 1px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    position: relative;
  }
  .onerow .scoretotal, .onerow .dns, .onerow .edit_row{ height: 41px;line-height: 41px;}
  .tworow .scoretotal, .tworow .dns, .tworow .edit_row{ height: 82px;line-height: 82px;}
  .onerow .day1{border-bottom: solid 1px #555;}
  .onerow .player > span {height: 40px;}  
  .tworow .player > span {height: 81px;}  

  .select-day{
  	position:absolute;
  	top:0;
  	right:400px;
  }